@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../node_modules/react-modal-video/scss/modal-video.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "public/sass/main.scss";


.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  color:white;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 600px;
  width: 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}


.contact-us{

.container {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
  float:right;
  
}

.form-group {
  margin-bottom: 20px;
}

.select {
  padding: 8px;
  width: 100%;
}



label {
  display: block;
  margin-bottom: 6px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #575383;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 75%;
}

img {
  float: left;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:200px !important;
  height:200px !important;
}

}

ul.tst-list li:before {
  content: '✓';
}

.why-us{
  .box img{
    border-radius: 50%;
    background-color: white;
    width: 90px;
}

.box p {
    text-align:center;
    margin-left: -100px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; 
    text-align:justify;
    
  }

.column h2 {
    text-align: center;
}

.text {
    text-align:justify;
    font-weight: 500;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.col-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .box {
    display: table-cell;
    padding: 10px;
    display: center;
    margin: 10px;
  }
  .cl-left{
    background-image: url("/img/banners/tour.png");
  }

}

.testimonial__quote__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 5rem;
  position: absolute;
  right: 0;
  top: -6rem;
  transform: rotate(180deg);
  z-index: -1;
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-left:before {
  content: "\f10d";
}

span.error{
  display: block;
  clear:both;
  color:red;
}

.success{
  font-size:24px !important;
  color:green;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 800px;
  position:absolute;
  background-color: #383636;
  opacity: 0.6;
}

.success{
  color:darkolivegreen;
  font-size:16px;
}

.loaderPopup{
  opacity: 0.8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.stickyTabs{
  position:fixed;
  top:100px;
  width:100%;
  z-index:10000;
}

.sidebarFixed{
  position:fixed;
  top:100px;
  z-index:10000;
  right:5px;
}


.tourSticky ul{
  margin-top:10px;
}

.mobileScreen{
  display: none !important;
 }

 .descktopScreen{
  display: block;
 }

@media (max-width: 767px) {
 .mobileScreen{
  display: block !important;
 }

 .descktopScreen{
  display: none;
 }
 
 .mobileBookNow{
  position:fixed;
  bottom:5px;
  padding:10px;
  border-top:1px solid #575383;
  width:100%;
  padding-left:20px;
  z-index: 100000;
 }

 .tourSticky .react-tabs ul li button{
  font-size:8px !important;
 }

 .tourSticky .react-tabs ul li{
  padding-left:2px;
  padding-right:2px;
 }
}

.suggestions{
  position: absolute;
  z-index: 100000;
  top:60px;
  width:90%;
padding: 10px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: white !important;
}
.suggestions li{
  height: 30px;
  padding: 5px;
}

.suggestions li.active{
  background-color: #575383 !important;
  color:white !important;
}
